<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Danh sách User</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h2>Danh sách User</h2>
  <a href="/crud" class="btn btn-primary mb-3">+ Thêm User</a>

  <table class="table table-bordered" style="width:100%">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    <% for(let i=0; i < datalist.length; i++) { %>
    <tr>
      <td><%= datalist[i].email %></td>
      <td><%= datalist[i].firstName %></td>
      <td><%= datalist[i].lastName %></td>
      <td><%= datalist[i].address %></td>
      <td>
        <a href="/edit-crud?id=<%= datalist[i].id %>">Edit</a>
        ||
        <a href="/delete-crud?id=<%= datalist[i].id %>">Delete</a>
      </td>
    </tr>
    <% } %>
  </table>
</div>
</body>
</html>
